body {
    background-color: lightgray;
    border: 5px solid black;
    padding: 5px;
}

header {
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 50px;
}

.howto,
.button-control {
    display: flex;
    justify-content: center;
}

.question {
    display: none;
}

/* .questions {
    display: block;
} */

.howto {
    font-size: 40px;
    text-align: center;
}


.howto p {
    font-size: 20px;
}
.howto-box {
    padding-top: 20px;
    line-height: 100%;
}

.howto h1 {
    background-color: rgb(81, 155, 180);
    padding: 20px;
}

.button-control {
    padding-left: 10px;
    border: 0px;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 10%;
    display: flexbox;
}

.button-control button:hover {
    opacity: 70%;
}

.question {
    font-size: 35px;
}

.instructions {
    display: block;
}

#beginButton {
    background-color: rgb(218, 218, 175);
    border: 2px solid black;
    font-size: 20px;
    font: bolder;
    padding: 1px 5px;
    cursor: pointer;
    width: 30%;
    height: 50px;
    display: flexbox;
    padding: none;
    margin: 8px;
}

.highscoresFinal {
    display: none;
}

main.section {
    display: none;
}

.choiceanswers,
.choiceanswer {
    display: none;
    margin: auto;
    width: 50%;
}

.choiceanswers {
    border: 1px solid;
}

.choiceanswer {
    background-color: rgb(218, 218, 175);
    border: 10px solid black;
    font-size: 25px;
    padding: 10px 24px;
    cursor: pointer;
    width: 80%;
    display: block;
    margin: 8px;
}

.choiceanswer:hover {
    background-color: rgb(177, 177, 140)
}

.results {
    margin: 40px;
    text-align: center;
    font-size: 25px;
}

.endgame {
    display: none;
}
.resultsdesign p 
.highscore-html {
    text-align: center;
    font-size: 50px;
}

.highscore-html input{
    font-size: 25px;
    line-height: 10px;
    width: 100px;
}

.submit:hover {
    background-color: rgb(236, 236, 187);
}




